
{% extends "partials/base.html"%}    #inherites the base.html file

{% load static %}

{% block title %}MediCare Hub | Sign IN{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}


{% block content %} 


<section class="signin-section">
      <div class="signin-card">
        <!-- TOP HEADER -->
        <div class="signin-card-header">
          <div class="signin-main-icon">
            <i class="fas fa-user-md"></i>
          </div>

          <h1>Welcome Back</h1>

          <p>Sign in to access your MediCare Hub account</p>
        </div>

        <!-- FORM AREA -->
        <div class="signin-card-body">
          <form method="POST" class="signin-form">
            {% csrf_token %}

            <!-- EMAIL -->
            <div class="signin-form-group">
              <label class="signin-label"> Email Address </label>

              <div class="signin-input-box">
                <i class="fas fa-envelope"></i>

                {{ form.email }}
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="signin-form-group">
              <label class="signin-label"> Password </label>

              <div class="signin-input-box">
                <i class="fas fa-lock"></i>

                {{ form.password }}
              </div>
            </div>

            <!-- OPTIONS -->
            <div class="signin-options">
              

              <a href="forgot-password.html" class="forgot-link">
                Forgot Password?
              </a>
            </div>

            <!-- SIGN IN BUTTON -->
            <button type="submit" class="signin-submit-btn">
              <span>Sign In</span>

              <i class="fas fa-arrow-right"></i>
            </button>

            <!-- DIVIDER -->
            <div class="signin-divider">
              <span>OR</span>
            </div>

            <!-- SIGN UP -->
            <div class="signin-register">
              <p>Don't have an account?</p>

              <a href="/auth/signup/">
                Create an Account
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </form>
        </div>

        <!-- SECURITY FOOTER -->
        <div class="signin-security">
          <i class="fas fa-shield-alt"></i>

          <span> Your information is securely protected </span>
        </div>
      </div>
    </section>





{% endblock %}




