
{% extends "partials/base.html" %} 
{% load static %}

 
{% comment %}doctor appointments details {% endcomment %}
 {% block title %}MediCareHub | Doctor Appointments Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/index.css' %}" />
{% endblock %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include 'doctor/sidebar.html' %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Appointment Detail #12345</h4>
                <div class="card mb-4">
                    <div class="shadow border p-3 mb-4 rounded-4">
                        <p>
                            <a>
                                <p><span class="fw-semibold text-dark">Appointment ID:</span> #{{appointment.appointment_id}}</p>
                                <p><span class="fw-semibold text-dark">Service:</span> {{appointment.service.name}}</p>
                                <p><span class="fw-semibold text-dark">Patient:</span> {{appointment.patient.full_name}}</p>
                                <p><span class="fw-semibold text-dark">Issue:</span> {{appointment.issues}}</p>
                                <p><span class="fw-semibold text-dark">Symptoms:</span> {{appointment.symptoms}}</p>
                                <p><span class="fw-semibold text-dark">Status:</span> {{appointment.status}}</p>
                                <p><span class="fw-semibold text-dark">Date:</span> {{appointment.appointment_date}}</p>
                                <p>
                                    <span class="fw-semibold text-dark">Action:</span>

                                    {% if appointment.status == "Scheduled" %}
                                    <a href="{% url 'doctor:cancel_appointment' appointment.appointment_id %}" class="btn btn-outline-danger btn-sm">Cancel Appointment <i class="fas fa-trash ms-2"></i></a>
                                    <a href="{% url 'doctor:complete_appointment'  appointment.appointment_id%}" class="btn btn-outline-success btn-sm">Complete Appointment <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %} {% if appointment.status == "Cancelled" %}
                                    <a href="{% url 'doctor:activate_appointment' appointment.appointment_id %}" class="btn btn-success btn-sm">Activate Appointment <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %} {% if appointment.status == "Completed" %}
                                    <a href="{% url 'doctor:activate_appointment' appointment.appointment_id %}" class="btn btn-success btn-sm">Completed <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}
                                </p>
                                
                            </a>
                        </p>
                    </div>
                </div>

                
</section>
{% endblock  %}
